.col-6.mt-2
  - if @articles.nil?
    %h2 No articles yet
  - else
    %h2 List of Articles 
    %ul(class="list-group")
      - @articles.each do |article|
        %li(class="list-group-item")
          = link_to article.title, article
