.col-6.mt-2
  - if (@wikis.nil? || @wikis.size == 0)
    %h2 No articles yet
  - else
    %h2(class="py-2") List of Articles 
    %ul(class="list-group")
      - @wikis.each do |article|
        %li(class="list-group-item")
          = link_to article.title, article
